.myform{
  max-width: 100%;

}
.moform{
  box-shadow: 0 4px 6px 0px rgba(22,22,26,0.18);
}

.btn-close{
  position: absolute;
  right: 0;
  padding: 1em;

}

.modal-content{
  width: 80%;
  margin: 0px auto;
  

}

.modal-title{
  font-size: 2.3em;
  font-weight: bold;

}

.myform{
  padding: 2em;
  max-width: 100%;
  color: rgb(0, 0, 0);
  /* box-shadow: 0 4px 6px 0px rgba(22,22,26,0.18); */
  @media (max-width: 576px) {
  max-width: 90%;
  margin-right: 0 auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    
  }
}

.fom-control, .fom-control:focus {
  background-color: inherit;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 0;
  outline: none;
}
.myform .btnn{
  width: 100%;
  font-weight: 500;
  background-color: rgb(25,170,141);
  border-radius: 0;
  padding: 0.5em 0;
}
.myform .btnn:hover{
  color: black;

}
.upper--elevated {
  display: flex;
  flex-wrap: wrap;
}
